<?xml version="1.0"?>
<config>
    <modules>
        <Creativestyle_Sare>
            <version>1.0.4</version>
        </Creativestyle_Sare>
    </modules>
    <global>
        <models>
            <creativestyle_sare>
                <class>Creativestyle_Sare_Model</class>
            </creativestyle_sare>
            <sare>
                <class>Creativestyle_Sare_Model</class>
                <resourceModel>sare_mysql4</resourceModel>
            </sare>
            <sare_mysql4>
                <class>Creativestyle_Sare_Model_Mysql4</class>
                <entities>
                    <email>
                        <table>cs_sare_email</table>
                    </email>
                </entities>
            </sare_mysql4>
            <adminnotification>
                <rewrite>
                    <feed>Creativestyle_Sare_Model_AdminNotification_Feed</feed>
                </rewrite>
            </adminnotification>
        </models>
        <blocks>
            <sare>
                <class>Creativestyle_Sare_Block</class>
            </sare>
            <adminhtml>
                <rewrite>
                    <dashboard_grids>Creativestyle_Sare_Block_Adminhtml_Dashboard_Grids</dashboard_grids>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sare>
                <class>Creativestyle_Sare_Helper</class>
            </sare>
        </helpers>
        <resources>
            <creativestyle_sare_setup>
                <setup>
                    <module>Creativestyle_Sare</module>
                </setup>
            </creativestyle_sare_setup>
        </resources>
        <events>
            <customer_address_save_after>
                <observers>
                    <your_unique_event_name>
                        <class>creativestyle_sare/observer</class>
                        <method>test</method>
                    </your_unique_event_name>
                </observers>
            </customer_address_save_after>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <your_unique_event_name>
                        <class>creativestyle_sare/observer</class>
                        <method>newsletterSubscriberSaveCommitAfter</method>
                    </your_unique_event_name>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <when_subscriber_model_is_deleted>
                        <class>creativestyle_sare/observer</class>
                        <method>customerDeletedAction</method>
                    </when_subscriber_model_is_deleted>
                </observers>
            </newsletter_subscriber_delete_after>
            <customer_login>
                <observers>
                    <update_customer_data>
                        <class>creativestyle_sare/observer</class>
                        <method>updateCustomerData</method>
                    </update_customer_data>
                </observers>
            </customer_login>
            <sales_order_place_after>
                <observers>
                    <update_customer_data_after_order>
                        <class>creativestyle_sare/observer</class>
                        <method>updateCustomerDataAfterOrder</method>
                    </update_customer_data_after_order>
                </observers>
            </sales_order_place_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <your_module>
                        <class>creativestyle_sare/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </your_module>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <your_module>
                        <class>creativestyle_sare/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </your_module>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_predispatch>
                <observers>
                    <meanbee_notification>
                        <type>singleton</type>
                        <class>creativestyle_sare/AdminNotification_feed</class>
                        <method>observe</method>
                    </meanbee_notification>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <admin>
        <routers>
            <sare>
                <use>admin</use>
                <args>
                    <module>Creativestyle_Sare</module>
                    <frontName>sare</frontName>
                </args>
            </sare>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sare>
                                            <title>SARE integration settings</title>
                                        </sare>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sare>
                    <file>sare.xml</file>
                </sare>
            </updates>
        </layout>
        <translate>
            <modules>
                <creativestyle_sare>
                    <files>
                        <default>sare.csv</default>
                    </files>
                </creativestyle_sare>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sare>
            <settings>
                <sare_endpoint_url>http://s.enewsletter.pl/</sare_endpoint_url>
                <group_id>0</group_id>
                <send_confirmation_email>0</send_confirmation_email>
                <save_as>8</save_as>
                <notification_senderemail>notifications@example.com</notification_senderemail>
                <notification_sendername>SARE integrator</notification_sendername>
            </settings>
        </sare>
        <trans_email>
            <email_manager>
                <name>E-mail marketing manager name</name>
                <email>custom@custom.com</email>
            </email_manager>
            <website_developer>
                <name>Website developer</name>
                <email>custom@custom.com</email>
            </website_developer>
        </trans_email>
    </default>
</config>